---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

import Grid from '../components/Grid.astro';
---

<BaseLayout title="About | Lucfreelance" description="Welcome to Lucfreelance's Web Frontend Developer Portfolio 2023">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Here an close-up to Soe Lucas better known as Lucfreelance in digital environments."
			><br>
				<img
					width="1553"
					height="873"
					src="/assets/imaginery/develop.jpg"
					alt="Lucfreelance at driving"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Dedicated to crafting outstanding digital experiences, I specialize in building websites using frameworks such as Hugo, Astro, Jekyll and others. I excel in integrating databases, paywalls, modules and libraries for seamless functionality. As a passionate frontend developer, my expertise extends beyond coding to include a background in topics like design, writing and advertising.
					</p>
					<br>
					<p>
						Fifteen years ago, I graduated as a technical advertiser, marking the beginning of my professional journey. Since then, I've immersed myself in entrepreneurship, branding, and communication. I've also explored creative realms like writing, painting, character creation, photography. Despite its apparent disconnect to programming, I firmly believe that code is intertwined with every aspect of our lives, as culture as arts, also.
					</p>
					<br>
					<p>
						Around eight years ago, I transitioned to online collaborations, engaging with platforms for projects improving content as a laber, reviewer, evaluator... There, I became an integral part of various teams, contributing significantly to extensive social media initiatives. I played pivotal roles within top companies like Appen Connect. Roles like Search Online Evaluator for long-term projects for major social media platforms. That was the start-point to turn my life into code where there I am now.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>With a Computer Science approach, previously in digital marketing and advertising. Here's an close-up to my educational background, where I'm coursing Python at MOOC.fi [University of Helsinki online]. Feel free to ask me for certificates.</p><br>
					
					<div class="gallery">
						<Grid variant="small">
							{
								['MOOC.fi', 'Platzi', 'Udemy', 'SAYA', 'FADP'].map((brand) => (
									<li class="mention-card">
										<p>{brand}</p>
									</li>
								))
							}
						</Grid>
					</div>

				</div>
			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
				<p>Driven by a passion for technology, I leverage a diverse toolkit encompassing various languages, frameworks, dependencies, modules, addons, plugins, and libraries, both synchronous and asynchronous. My expertise lies in crafting efficient, secure, and innovative solutions. Below, you can explore my filtered skills and witness the depth of my capabilities:</p> <br>	
				<div class="content">
					<div class="content-skills">
						<div class="filter-buttons">
							<button class="filter-button active" data-filter="all">All</button>
							<button class="filter-button" data-filter="languages">Languages</button>
							<button class="filter-button" data-filter="frameworks">Frameworks</button>
							<button class="filter-button" data-filter="libraries">Libraries</button>
							<button class="filter-button" data-filter="tools">Kit Tools</button>
							<button class="filter-button" data-filter="cms">CMS</button>
						</div>
						<div class="skill-cloud">
						<!--  -->
						</div>
					</div>
					<!-- <ul>
						<li>All</li>
						<li>Languages</li>
						<li>Frameworks</li>
						<li>Libraries</li>
						<li>Kit Tools</li>
					</ul> -->
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.gallery {
			grid-area: gallery;
		}

		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}

		/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

		/* ====================================================== */

	.section-title {
		font-size: 24px;
		color: #333;
		margin-bottom: 16px;
	}

	.content-skills {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.filter-buttons {
		margin-bottom: 16px;
	}

	.filter-button {
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 4px;
		padding: 8px 16px;
		margin: 0 8px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.filter-button.active {
		background-color: #0056b3;
	}

	.skill-cloud {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		justify-content: center;
	}

	.skill-tag {
		background-color: #f0f0f0;
		padding: 8px 16px;
		border-radius: 20px;
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.skill-tag:hover {
		background-color: #ddd;
	}

	.skill-cloud {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	.category {
		flex: 1 1 200px;
		background-color: #f0f0f0;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.category h3 {
		font-size: 18px;
		margin-bottom: 12px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	ul li {
		font-size: 14px;
		margin-bottom: 8px;
	}

/* ====================================================== */

/* Estilos para la nube de etiquetas y filtros */
.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
}

.content-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.filter-buttons {
    margin-bottom: 16px;
}

.filter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button.active {
    background-color: #0056b3;
}

.skill-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-tag {
    background-color: #f0f0f0;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.skill-tag:hover {
    background-color: #ddd;
}


	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
	}

	/* ====================================================== */

	/* Estilos para la sección de habilidades */
.section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
}

.content-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.filter-buttons {
    margin-bottom: 16px;
}

.filter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button.active {
    background-color: #0056b3;
}

.skill-cloud {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-tag {
    background-color: #f0f0f0;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.skill-tag:hover {
    background-color: #ddd;
}

</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const skills = [
        { name: "HTML5", category: "languages" },
        { name: "CSS3", category: "languages" },
        { name: "JavaScript", category: "languages" },
        { name: "SQL", category: "languages" },
        { name: "Python", category: "languages" },
        { name: "PHP", category: "languages" },
        { name: "MarkDown", category: "languages" },
        { name: "BBCode", category: "languages" },
		{ name: "Node.js", category: "languages" },
        { name: "Vite", category: "frameworks" },
        { name: "Hugo", category: "frameworks" },
        { name: "Astro", category: "frameworks" },
        { name: "Jekyll", category: "frameworks" },
        { name: "Flask", category: "frameworks" },
        { name: "Gatsby", category: "frameworks" },
        { name: "Eleventy", category: "frameworks" },
        { name: "Bootstrap", category: "frameworks" },
        { name: "TailWind CSS", category: "frameworks" },
        { name: "React.js", category: "libraries" },
		{ name: "Redux", category: "libraries" },
		{ name: "Axios", category: "libraries" },
		{ name: "Express", category: "libraries" },
		{ name: "jQuery", category: "libraries" },
		{ name: "Bootstrap", category: "libraries" },
		{ name: "TypeScript", category: "libraries" },
		{ name: "Vue.js", category: "libraries" },
		{ name: "Angular", category: "libraries" },
		{ name: "D3.js", category: "libraries" },
		{ name: "Chart.js", category: "libraries" },
		{ name: "TensorFlow", category: "libraries" },
		{ name: "Styled Components", category: "libraries" },
        { name: "VS Code", category: "tools" },
        { name: "Postman", category: "tools" },
        { name: "NPM", category: "tools" },
        { name: "Chrome DevTools", category: "tools" },
        { name: "Figma", category: "tools" },
        { name: "Notion", category: "tools" },
        { name: "Git", category: "tools" },
        { name: "FastAPI", category: "tools" },
        { name: "esLint", category: "tools" },
        { name: "MySQL", category: "tools" },
        { name: "SQLLite", category: "tools" },
        { name: "Discord", category: "tools" },
        { name: "elementor", category: "tools" },
        { name: "Woocommerce", category: "tools" },
        { name: "WordPress", category: "cms" },
        { name: "Joomla", category: "cms" },
        { name: "Drupal", category: "cms" },
        { name: "Joomla", category: "cms" },
        { name: "Contentful", category: "cms" },
        { name: "Webflow", category: "cms" },
        { name: "Ghost", category: "cms" },
        { name: "Shopify", category: "cms" },
        { name: "PrestaShop", category: "cms" },
        { name: "All", category: "all" }
    ];

	const skillCloud = document.querySelector(".skill-cloud");
    const filterButtons = document.querySelectorAll(".filter-button");

    function generateSkillCloud() {
        skillCloud.innerHTML = "";
        skills.forEach(skill => {
            const skillTag = document.createElement("div");
            skillTag.classList.add("skill-tag");
            skillTag.textContent = skill.name;
            skillTag.addEventListener("click", () => filterSkills(skill.category));
            skillCloud.appendChild(skillTag);
        });
    }

    function filterSkills(category) {
        skillCloud.innerHTML = "";
        const filteredSkills = skills.filter(skill => skill.category === category || category === "all");
        filteredSkills.forEach(skill => {
            const skillTag = document.createElement("div");
            skillTag.classList.add("skill-tag");
            skillTag.textContent = skill.name;
            skillTag.addEventListener("click", () => filterSkills(skill.category));
            skillCloud.appendChild(skillTag);
        });
    }

    generateSkillCloud();

    filterButtons.forEach(button => {
        button.addEventListener("click", () => {
            filterButtons.forEach(btn => btn.classList.remove("active"));
            button.classList.add("active");
            const filter = button.getAttribute("data-filter");
            filterSkills(filter);
        });
    });
});
</script>